{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Smarter 智慧化影音創作系統</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <!-- 上方為nav導覽列 &nbsp為空格 -->
        <nav id ="smarternav" class="navbar navbar-light navbar-expend-md">
            <a id="smarternavtitle" href="/index/">&nbsp Smarter 智慧化<br />&nbsp 影音創作</a>
            <a href="/news/" id="nav_news">最新消息</a>
            <a href="/messageboard/" id="nav_messageboard">留言板</a>
            <a href="/sendfeedback/" id="nav_sendfeedback">問題反映</a>

            {% if request.user.is_authenticated %}
            <p>
                <a href="/accounts/userinfo/" id="nav_login_logout">{{request.user}}</a> <a href="/accounts/logout/" id="nav_login_logout">登出</a>
            </p>
        {% else %}
            <a href="/accounts/login/" id="nav_login_logout">註冊或登入</a>
        {% endif %}
        </nav>
        <br>
        <p style="text-align:center;color:rgb(251, 0, 159);font-weight:bold;font-size:1cm">
            現在就開始製作你的影片作品吧!
        </p>

        <center><div id="makevideodiv" >
            <br>
            <br>
            <br>
            <br>
            <br>
            <center><button style="width:250px;height:40px;
                border:2px blue none;
                background-color:#b0d6ff;" 
                onclick="window.location='/uploadFile/'">新增作品專案</button></center>
            <br>
            <br>
            <br>
            <br>
        </div></center>
        <br>
        <br>
        <div id="smartrecorddiv">
            <h1 style="text-align:center;color:black;font-weight:bolder;font-size:1cm">
                試試我們的<br>智慧線上拍攝
            </h1>
            <p style="text-align:center;color:#ff5e00;font-weight:bolder;font-size:25px">
                (請連接您的攝影機)
            </p>
            <button style="width:200px;height:40px;
            border:2px #00d5c3 solid;
            background-color:#00ffea;color:#0008ff;float:center" onclick="window.location='/smartrecord/'">開始拍攝</button>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!--
        <div id="ytcommentsdiv">
            <h1 style="text-align:right;color:black;font-weight:bolder;font-size:1cm">
            過濾你的YouTube影片留言&nbsp&nbsp&nbsp&nbsp&nbsp<br>忽略不重要的內容&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            </h1>
        
            <button style="width:200px;height:40px;
            border:2px #aa1400 solid;
            background-color:#ff1e00;color:white;float:center" onclick="window.location='/ytcomments/'">開始使用</button>
        </div>-->
        
    </body>
</html>