{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smarter 智慧化影音創作系統 - 留言</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/metro-all.min.css' %}">

    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/metro.min.js' %}"></script> 
    <style>
        .center {
        margin: auto;
        width: 50%;
        padding: 10px;
        }
    </style>
</head>
<body>
    <!-- 上方為nav導覽列 &nbsp為空格 -->
    <nav id ="smarternav" class="navbar navbar-light navbar-expend-md">
        <a id="smarternavtitle" href="/index/">&nbsp Smarter 智慧化<br />&nbsp 影音創作</a>
        <a href="/news/" id="nav_news">最新消息</a>
        <a href="/messageboard/" id="nav_messageboard">留言板</a>
        <a href="/sendfeedback/" id="nav_sendfeedback">問題反映</a>

        {% if request.user.is_authenticated %}
        <p>
            <a href="/accounts/userinfo/" id="nav_login_logout">{{request.user}}</a> <a href="/accounts/logout/" id="nav_login_logout">登出</a>
        </p>
    {% else %}
        <a href="/accounts/login/" id="nav_login_logout">註冊或登入</a>
    {% endif %}
    </nav>
    <br>
    <center><h1>留言板</h1></center>
    {% if request.user.is_authenticated %}
    <form action="save" method="POST" name="messageboardedittform">
    {% csrf_token %}
    <div class="row" style="margin-top: 0%">
        <div class="container-fluid">
            <div class="row" style="margin-top: 10px">
                <div class="cell-2">
                    <h3 class="fg-green" style="text-align: center;">您的帳號名稱:</h3>
                </div>
                <div class="cell-10">
                    <input type="text" name="msboardname" value="{{request.user}}" readonly="readonly" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="cell-2">
                    <h3 class="fg-green" style="text-align: center;">留言內容:</h3><br>
                </div>
                <div class="cell-10">
                    <textarea id="user_message" name="msboardcontent" data-role="textarea" data-auto-size="true" data-max-height="500"></textarea>
                </div>
            </div>
            <div>
                <br><br>
            <center>
                <input type="submit" style=" background-color:rgb(102, 255, 0);" value="送出留言" />
            </center>
            <br>
            <!--
            <center>
                <span style="color:red">{{ message }}</span>
            </center>-->
            
        </div>
        <br/>
        <br/>
    </div>
    </form>
    {% else %}
            <br/>
            <center><p id="login_message">請先<a href="/accounts/login/" id="login_message">登入或註冊</a>帳號，方可使用留言功能！</p></center>
        {% endif %}
</body>
</html>