{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Smarter 智慧化影音創作系統</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    </head>
    <body>
        <nav id ="smarternav" class="navbar navbar-light navbar-expend-md">
            <a style="color:white;text-decoration:none;font-weight: bold" href="/index/">&nbsp Smarter 智慧化<br />&nbsp 影音創作</a>
        </nav>
        <br>
        
        <div id="userinfodiv">
            <p style="text-align:center;color:#2d3032;font-weight:500;font-size:1cm">
                {{request.user}}，您好！
            </p>
            <br/>
            <center><b style="color:black;font-size:0.75cm">您想要執行哪個操作？</b></center><br/>
            <center><button name="changepassword" onclick="window.location='{% url 'password_change' %}'"
            style="width:550px;height:40px;color:white;background-color:purple;border:2px black none;"/>更改您的密碼</button></center>
            <br/>
            <center><button name="logout" onclick="window.location='/accounts/logout/'"
                style="width:550px;height:40px;color:white;background-color:blue;border:2px black none;"/>登出</button></center>
            <br/>
            <center><button name="to_index" onclick="window.location='/index/'"
                style="width:550px;height:40px;color:white;background-color:black;border:2px black none;"/>回首頁</button></center>
        </div>
    </body>
</html>